<div class="container">

  <div class="card text-center">

    <div class="card-header">
      <b>LOGIN</b>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="card-body p-4">
        <label class="">Email</label>
        <input formControlName="email" class="form-control m-2" type="email">

        <label>Contraseña</label>
        <input formControlName="password" class="form-control m-2" type="password">

        <button type="submit" class="btn btn-primary w-100 m-2">LOGIN</button>
        <!-- <button class="btn btn-secondary w-100 m-2" (click)="LoginGoogle()">LOGIN CON GOOGLE</button> -->
        <br>
        <label>Aun no has registrado tu club? <a [routerLink]="['/register']">Registralo
            ya!</a></label>
      </div>
    </form>

  </div>
</div>
